.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.cart-container h1 {
  font-family: "Titillium Web";
}

.cart-container p {
  font-family: "Titillium Web";
}

.cart-container h3 {
  font-family: "Titillium Web";
  margin-top: 25px;
}

.cart-container input {
  font-family: "Titillium Web";
  padding-left: 8px;
  height: 30px;
  width: 220px;
}

.cart-container button {
  margin-top: 20px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.cart-container span {
  font-family: "Titillium Web";
  text-decoration: underline;
}

footer.newGrey {
  background-color: #222222;
  padding-top: 5em;
}

footer.newGrey .borderTop {
  border-top: 1px solid rgba(211, 211, 211, 0.151);
  padding: 2em 0;
  font-size: 11px;
}

footer.newGrey p {
  color: grey;
}

.btn-brand {
  background-color: #03d;
}

.dropdown-content {
  background-color: #0033dd;
}

.quickLinks h5 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
}

.quickLinks ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.quickLinks ul li a {
  font-size: 1rem;
  color: grey;
}
