.product-img {
}

.product-title {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.product-price {
  text-align: center;
}

.cart {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 15px;
}

.footer-container {
  margin-top: 500px;
}
